.hero {
  position: relative;
  z-index: 1;
  padding: 50px 100px;
}

.h1 {
  line-height: 1.3;
  text-transform: capitalize;
  color: var(--oxford-blue);
  font-size: 32px;
}
.hero-content {
  max-width: 550px;
}



.hero-title,
.hero-text {
  margin-bottom: 40px;
}

.hero-title {
  font-size: 64px;
}

.hero-text {
  font-size: 23px;
  color: var(--oxford-blue);
}

.hero .btn-primary {
  margin-inline: auto;
}

.hero-banner {
  display: none;
}



.hero-content {
  max-width: 550px;
}

.hero-banner {
  display: block;
  position: absolute;
  margin: 80px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 500px;
  padding-top: 500px;
  background: url("../assets/hero-banner.png") no-repeat;
  background-size: contain;
}

.hero-content,
.about-bottom-content {
  text-align: left;
}

.hero .btn-primary,
.about-bottom .btn-secondary {
  margin-inline: 0;
}
