@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    .container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin:auto ;
    
  }
  .container > form {
    width: 70%;
    border: 1px solid #dfdfdf;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
  }

  .heading{
    margin: 10px 0 0;
  }

  .field{
    margin: 10px;
  }
  pre {
    width: 70%;
    color: #fff;
    font-size: larger;
  }
  
  .fluid {
    background:  hsl(342, 90%, 61%) !important;
    padding: 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
  }

  p {
    color: red;
  }

.social{
    background-color: #fff;
    padding: 8px;
    border: 1px solid #e4e4e4;
    margin: 4px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
  }